* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form {
  margin: 0 auto;
  background-color: blue;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  padding: 15px 20px;
}

input {
  height: 40px;
  border: none;
}

select {
  height: 40px;
  border: none;
}
